/*
RuffLife CSS
Kaitlin Wan, Aaron Li, Bo Hui Lu, Michelle Tang
*/


html {

}

body {
  background: url(./back.jpg);
  background-size: cover;

}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.signuper a{
  color:rgb(30, 148, 173);
}


.titlefor h2{
   color: rgb(46, 8, 54)
}

.intro h1{
  color: rgb(33, 12, 41);
}

.navbar button {
    outline: none;
    color: transparent;
}

.btn:hover{
  text-decoration: none;
}
