/*
RuffLife CSS
Kaitlin Wan, Aaron Li, Bo Hui Lu, Michelle Tang
*/


html {
  background-size: cover;

}

body {
  background-color: "#e6f5ff";

}

a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.signuper a{
  color:rgb(30, 148, 173);
}
