<!--
ruffLife
Michelle Tang, Bo Hui Lu, Aaron Li, Kaitlin Wan
SoftDev1 pd6
Project 1 - ArRESTed Development
-->

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/ruff.css">
    <title>{% block header %}{% endblock %}</title>
</head>
<body>
    <div container = 'navbar'>
        <div class="container-full-bg">
            <nav class="navbar sticky-top navbar-dark ">
                <a href="/"><button class="btn btn-md btn-link" type="button" ></button>Home</a>
                <a href="/feed"><button class="btn btn-md btn-link" type="button"></button>Personal Feed</a>
                <a href="/catpic"><button class="btn btn-md btn-link" type="button"></button>Cat Picture</a>
                <a href="/dogpic"><button class="btn btn-md btn-link" type="button"></button>Dog Picture</a>
                <a href="/fact"><button class="btn btn-md btn-link" type="button"></button>Random Fact</a>
                <a href="/meme"><button class="btn btn-md btn-link" type="button"></button>Funny Meme</a>
                <a href="/quote"><button class="btn btn-md btn-link" type="button">  </button>Inspirational Quote</a>
                <a href="/logout"><button class="btn btn-md btn-link" type="button"></button>Log In/Out</a>
            </nav></div></div>
            {% block body %}
            {% endblock %}


        </body>

        </html>
