<!--
ruffLife
Michelle Tang, Bo Hui Lu, Aaron Li, Kaitlin Wan
SoftDev1 pd6
Project 1 - ArRESTed Development
-->

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/ruff.css">
  <title>{% block header %}{% endblock %}</title>
</head>
<body>
  <div container = 'navbar'>
    <div class="container-full-bg">
    <nav class="navbar sticky-top navbar-dark ">
    <button class="btn btn-md btn-link" type="button" ><a href="/">Home</a></button>
    <button class="btn btn-md btn-link" type="button">      <a href="/feed">Personal Feed</a></button>
    <button class="btn btn-md btn-link" type="button">    <a href="/catpic">Cat Picture</a></button>
    <button class="btn btn-md btn-link" type="button">        <a href="/dogpic">Dog Picture</a></button>
    <button class="btn btn-md btn-link" type="button">  <a href="/fact">Random Fact</a></button>
    <button class="btn btn-md btn-link" type="button">      <a href="/meme">Funny Meme</a></button>
    <button class="btn btn-md btn-link" type="button">        <a href="/quote">Inspirational Quote</a></button>
    <button class="btn btn-md btn-link" type="button">  <a href="/logout">Log Out</a></button>
    </nav></div></div>
    {% block body %}
    {% endblock %}


</body>

</html>
