<!--
ruffLife
Michelle Tang, Bo Hui Lu, Aaron Li, Kaitlin Wan
SoftDev1 pd6
Project 1 - ArRESTed Development
-->

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='ruffLife.css')}}">
    <title>{% block header %}{% endblock %}</title>
  </head>
  <body>
    {% block body %}
    <nav class="navbar fixed-top">
    <a href="/home">Home</a>
    <a href="/feed">Personal Feed</a>
  	<a href="/catpic">Cat Picture</a>
  	<a href="/dogpic">Dog Picture</a>
  	<a href="/fact">Animal Fact</a>
  	<a href="/joke">Joke</a>
    <a href="/meme">Meme</a>
    <a href="/quote">Inspirational Quote</a>
    <a href="/weather">Weather</a>
      </nav>
    {% endblock %}


  </body>

</html>
