<!--
ruffLife
Michelle Tang, Bo Hui Lu, Aaron Li, Kaitlin Wan
SoftDev1 pd6
Project 1 - ArRESTed Development
-->
{% extends "base.html"%}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block header %}Cat Pic!{% endblock %}</title>
  </head>
  <body>
    {%block body %}
    <center>
      <br> <br>
      <h2> Purrrrrrfect Pic </h2>
      <br>
    <img width="50%" src={{ link }}>
    <br><br>
    <form action = "/catpic" method = "GET">
      <input type = "submit" value = "Get another photo!">
    </form>
    <form action = "/" method = "GET">
        <input type = "submit" value="Like Photo">
    </form>

  </center>
    {%endblock %}
  </body>
</html>
