<!--
ruffLife
Michelle Tang, Bo Hui Lu, Aaron Li, Kaitlin Wan
SoftDev1 pd6
Project 1 - ArRESTed Development
-->
{% extends "base.html"%}

<!DOCTYPE html>
<html>

<head>
  <title>{% block header %}Cat Pic!{% endblock %}</title>
</head>

<body>
  {%block body %}
  <center>
    <br> <br>
    <div class="titlefor">
      <h2> (Purr)fect Picture </h2>
    </div>

    <br>
    <img width="50%" src={{ link }}>
    <div class="container">
      <br><br>
      <div class="row">

        <div class="col-sm-12">
          <form action="/catpic" method="GET">
            <input type="submit" value="Get another photo!">
          </form>
          </div>
          <br><br>


  </center>
  {%endblock %}
</body>

</html>
