<!--
ruffLife
Michelle Tang, Bo Hui Lu, Aaron Li, Kaitlin Wan
SoftDev1 pd6
Project 1 - ArRESTed Development
-->
{% extends "base.html"%}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block header %}Dog Pic!{% endblock %}</title>
  </head>
  <body>
{% block body %}
  <center>
    <br> <br>
    <h2> Pawfic Pic </h2>
    <br>
    <img width = 50% src= {{ link }} alt = "reload">
    <div class="container">
      <br><br>
      <div class = "row">
        <div class = "col-sm-2">
          </div>
        <div class = "col-sm-4">
        <form action = "/dogpic" method = "GET">
          <input type = "submit" value = "Get another photo!">
        </form>
        </div>
        <br>
      <div class = "col-sm-4">
        <form action = "/" method = "GET">
            <input type = "submit" value="Like Photo">
        </form>
        </div>
        <div class = "col-sm-4">
          </div>
        </div>

        </div>
        <br>
        <br>


  </center>


{%endblock%}
  </body>
</html>
