<!--
ruffLife
Michelle Tang, Bo Hui Lu, Aaron Li, Kaitlin Wan
SoftDev1 pd6
Project 1 - ArRESTed Development
-->
{% extends "base.html"%}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block header %}Dog Pic!{% endblock %}</title>
  </head>
  <body>
{% block body %}
  <center>
    <br> <br>
    <h2> (Paw)fic Picture </h2>
    <br>
    <img width = 50% src= {{ link }} alt = "oops... please refresh. unsupported file.">
    <div class="container">
      <br><br>
      <div class = "row">

        <div class = "col-sm-12">
        <form action = "/dogpic" method = "GET">
          <div class = "signuper">
          <input type = "submit" value = "Get another photo!">
          </div>
        </form>
        </div>
        <br>
        </div>
        <br>
        <br>


  </center>


{%endblock%}
  </body>
</html>
