<!--
ruffLife
Michelle Tang, Bo Hui Lu, Aaron Li, Kaitlin Wan
SoftDev1 pd6
Project 1 - ArRESTed Development
-->
{% extends "base.html"%}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block header %}Dog Pic!{% endblock %}</title>
  </head>
  <body>
{% block body %}
  <center>
    <br> <br>
    <h2> Pawfic Pic </h2>
    <br>
    <img width = 50% src= {{ link }} alt = "reload">
    <br><br>
      <form action = "/catpic" method = "GET">
        <input type = "submit" value = "Get another photo!">
        <input type = "submit" value="Like Photo">
      </form>
  </center>

{%endblock%}
  </body>
</html>
