<!--
ruffLife
Michelle Tang, Bo Hui Lu, Aaron Li, Kaitlin Wan
SoftDev1 pd6
Project 1 - ArRESTed Development
-->
{% extends "base.html"%}

<!DOCTYPE html>
<html>
<head>
    <title>{% block header %}Home Page{% endblock %}</title>
</head>
<body>
    {% block body %}
    <center>
      <img src="/static/logoruff.png" alt="logo" width="250">
        <h2> WELCOME TO RUFFLIFE </h2>
        <h2>Please login below</h2>
        <div class="container">
          <div class="row">
            <form action="/authenticate">
                <input type="text" name="user" placeholder="Username">
                <input type="text" name="pass" placeholder="Password">
                <br><br>
                <input type="submit" value="Submit!" />
            </form>
                
          </div>

        </div>

        <br>
        <form action="/logout">
            <input type="submit" value="Logout">
        </form>
          <br>
        <form action="/signup">
            <input type="submit" value="Sign Up HERE!">
        </form>

        {% set msgs = get_flashed_messages() %}
        {% for each in msgs%}
        {{each}}
        {% endfor %}

        {% endblock %}
    </center>

</body>
</html>
