<!--
ruffLife
Michelle Tang, Bo Hui Lu, Aaron Li, Kaitlin Wan
SoftDev1 pd6
Project 1 - ArRESTed Development
-->
{% extends "base.html"%}

<!DOCTYPE html>
<html>

<head>
  <title>{% block header %}Home Page{% endblock %}</title>
</head>

<body>
  {% block body %}
  <center>

    <div class="container">
      <div class="col-md-12">
        <br><br>
      </div>
      <img src="/static/logoruff2.png" alt="logo" width="250">
      <br><br>
      <div class="intro">
        <h1><b> WELCOME TO RUFFLIFE </h1></b>
      </div>
      <br>

      <div class="row">
        <div class="col-sm-12">
          <div class= "signuper">
          <h5>Login Here:</h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <form action="/authenticate" method="POST">
            <input type="text" name="user" placeholder="Username">
            <input type="password" name="pass" placeholder="Password">
            <input type="submit" value="Submit!" />
          </form>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <br>
        <div class="signuper">
          Don't have an account? Sign up <a class="sign" href="/signup">HERE</a>!
        </div>
      </div>

    </div>




    {% set msgs = get_flashed_messages() %}
    {% for each in msgs%}
    {{each}}
    {% endfor %}

    {% endblock %}
  </center>

</body>

</html>
