<!--
ruffLife
Michelle Tang, Bo Hui Lu, Aaron Li, Kaitlin Wan
SoftDev1 pd6
Project 1 - ArRESTed Development
-->
{% extends "base.html"%}

<!DOCTYPE html>
<html>
<head>
    <title>{% block header %}Home Page{% endblock %}</title>
</head>
<body>
    {% block body %}

    <center>
        <h2> WELCOME TO RUFFLIFE </h2>
        <h2>Please login below</h2>
        <form action="/authenticate">
            <input type="text" name="user" placeholder="Username">
            <input type="text" name="pass" placeholder="Password">
            <br><br>
            <input type="submit" value="Submit!" />
        </form>
        <br>
        <form action="/logout">
            <input type="submit" value="Logout">
        </form>
          <br>
        <form action="/signup">
            <input type="submit" value="Sign Up HERE!">
        </form>
        {% endblock %}
    </center>

</body>
</html>
