<!--
ruffLife
Michelle Tang, Bo Hui Lu, Aaron Li, Kaitlin Wan
SoftDev1 pd6
Project 1 - ArRESTed Development
-->
{% extends "base.html"%}

<!DOCTYPE html>
<html>
<head>
    <title>{% block header %}MEMES!{% endblock %}</title>
</head>
<body>
    {% block body %}
    <center>
        <br> <br>
        <h1 class="glow">Haha, What a Meme</h1>
        <!-- <div class="alert alert-warning">Warning: content may still be explicit</div> -->
        <br>
        <iframe src="{{em}}" width="480" height="317" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="{{link}}">via GIPHY</a></p>
        <div class="container">
            <br><br>
            <div class = "row">

                <div class = "col-sm-12">
                    <form action = "/meme" method = "GET">
                        <div class = "signuper">
                            <button class="btn btn-info" type="submit">Another One</button>
                        </div>
                    </form>
                </div>
                <br>
            </div>

        </div>
        <br>
        <br>


    </center>


    {%endblock%}
</body>
</html>
