<!--
ruffLife
Michelle Tang, Bo Hui Lu, Aaron Li, Kaitlin Wan
SoftDev1 pd6
Project 1 - ArRESTed Development
-->
{% extends "base.html"%}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block header %}MEMES!{% endblock %}</title>
  </head>
  <body>
{% block body %}
  <center>
    <br> <br>
    <h2> Memememememeememememememe! </h2>
    <br>
    <iframe src="{{em}}" width="480" height="317" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="{{link}}">via GIPHY</a></p>
    <div class="container">
      <br><br>
      <div class = "row">

        <div class = "col-sm-12">
        <form action = "/meme" method = "GET">
          <div class = "signuper">
          <input type = "submit" value = "Get another meme!">
          </div>
        </form>
        </div>
        <br>
        </div>

        </div>
        <br>
        <br>


  </center>


{%endblock%}
  </body>
</html>
