<!--
ruffLife
Michelle Tang, Bo Hui Lu, Aaron Li, Kaitlin Wan
SoftDev1 pd6
Project 1 - ArRESTed Development
-->
{% extends "base.html"%}

<!DOCTYPE html>
<html>

<head>
    <title>{% block header %}Inspiration{% endblock %}</title>
</head>

<body>
    {% block body %}
    <br><br><br><br><br>
    <div class="container">
        <center>
            <h1 class="glow">Whoa...Inspirational</h1>
        </center>
        <br> <br>
        <div class="container">
            <div class="container2">
                <div class="speech-bubble">
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-1'>
                                <h3> " </h3>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-12">
                                <div>
                                    <blockquote class="blockquote">
                                        <h3 class="mb-1">{{ link }}</h3>
                                        <div class="row">
                                            <div class='col-sm-12'>
                                                <div align="right">
                                                    <h3> " </h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div align="right">
                                            <footer class="blockquote-footer"><cite title="Source Title"> {{ auth }}</cite></footer>
                                        </div>
                                    </blockquote>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br>
            <center>
                <form action = "/quote" method = "GET">
                    <button class="btn btn-info" type="submit">Another Quote</button>
                </form>
                <br><br>

            </center>

        </div>



        {% endblock %}
    </body>

    </html>
