<!--
ruffLife
Michelle Tang, Bo Hui Lu, Aaron Li, Kaitlin Wan
SoftDev1 pd6
Project 1 - ArRESTed Development
-->
{% extends "base.html"%}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block header %}Sign Up Here!{% endblock %}</title>
  </head>
  <body>
    {% block body %}

    <form action="/signup">
        <input type="text" name="user" placeholder="Username">
        <input type="password" name="pass" placeholder="Password">
        <br><br>
        <input type="submit" value="Submit!" />
    </form>

    {% endblock %}

  </body>
</html>
